
#plus-btn{
    display: flex;
    width: 280px;
    height: 280px;
    background-color: rgb(161, 158, 161);
    border-radius: 25px;
    margin: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 5px rgb(138, 138, 138);
    cursor: pointer;
}      
